<div class="widget-wrap">
  <div class="widget-title">About Me </div>
    <div class="widget">
      <p>My interest in software development stemmed from my passion for technology. </p>
        <p> Between developing websites and playing cricket, I admittedly spend most of my time in front of a screen. Some of my passions are writing clean code, creating well-thought user experiences, and filling up a fresh cup of coffee.</p>
      </div>
</div>
